<% include partials/header %>

<div class="container mt-3">
        <h1> Add New Admin </h1>
        <div class="card mx-3 my-3">
            <div class="container my-3">
                <form action="/adminregister" method="POST" class="mx-3">
                        
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input name="admin[username]" type="text" class="form-control" id="username" placeholder="Username">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name="admin[password]" type="password" class="form-control" id="password" placeholder="Password">
                        </div>

                        <button type="submit" class="btn btn-dark"> Add New Admin </button>
                </form>
            </div>
        </div>

<% include partials/footer %>