<!-- <link rel="stylesheet" href="app.css"> -->
<% include partials/header %>

<% blogPosts.forEach(function(blogPost) { %>
    <div class="card">
        <img src="<%= blogPost.image %>" class="card-img-top" alt="<%=blogPost.quote %>"">
        <div class="card-body">
            <h4> <%=blogPost.title %> </h4>
            <p class="card-text"> <%=blogPost.content %> </p>
        </div>
    </div>
<% }) %>


<% include partials/footer %>