<!-- <link rel="stylesheet" href="app.css"> -->
<% include partials/header %>

<!-- <form action="/theworldthroughmylenses/addpost" method="POST">
    <input type="text" name="newPost" placeholder="name">
    <button> Add new post </button>
</form> -->

<div class="container">
    <div class="row">
        <% blogPosts.forEach(function(blogPost) { %>        
            <div class="col-4">
                <div class="card-group">
                    <div class="card">
                        <img src="<%= blogPost.image %>" class="card-img-top" alt="<%=blogPost.quote %>"">
                                    
                        <div class=" card-body">
                            <h4> <%=blogPost.title %> </h4>
                            <p class="card-text"> <%=blogPost.content %> </p>
                        </div>

                        <div class="card-footer text-muted">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <div> <button type="button" class="btn btn-secondary"> 2 Days Ago </button> </div>
                                <div> <button type="button" class="btn btn-secondary"> LIKE </button> </div>
                                <div> <button type="button" class="btn btn-secondary"> SHARE</button> </div>
                                <div> <button type="button" class="btn btn-secondary"> COMMENT </button> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>



</div>




<% include partials/footer %>