<% include partials/header %>
<div class="container">
    <h1> Add new blog post </h1>
    <form action="/blogposts" method="POST">
        <input name="title" type="text" placeholder="title">
        <input name="image" type="text" placeholder="image url">
        <input name="content" placeholder="content"> 
        <button> Submit! </button>
        </form>
</div>







<% include partials/footer %>