<% include partials/header %>

<div class="container mt-3">
    <div class="row">
        <div class="col-6 col-md-3">
            <div id="sideprofile">
                <div class="card mx-3 my-3">
                    <img src="https://drive.google.com/uc?id=1peOm3hbxb43HXLWMYX1mFGrRSX9nKwmr" class="card-img-top" alt="">
                        
                    <div class="card-body">
                        <h4> Samarth Goyal </h4>
                    </div>    
                </div>
            </div>
        </div>

        <div class="col-6 col-md-3">
                    <div id="userportal" class="card mx-3 my-3">
                        <div class="card-body">
                            <a href="/" class="btn btn-info"> Go Back </a>
                            <a href="/logout" class="btn btn-info"> Logout </a>
                            <a href="/userregister" class="btn btn-info"> Add New User </a>
                        </div>    
                    </div>
                </div>
            </div>

            

    </div>
</div>
<% include partials/footer %>