.back {
    background-color: #262626;
}

h1 {
    color: white;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.item {
  width:  20rem;
  float: left;
}

.item.thumbnail {
  width: 50rem;
}

.item.medium {
  width:  30rem;
}

.item.large {
  width: 40rem;
}

#show {
  width: 25rem;
}

.footerbutton {
  box-sizing: border-box;
  display: block;
}
