.card {
    /* width: 25rem; */
    display: inline-block;
}

.grid-item {
    width: 20rem;
}

.grid-item {
    float: left;
    /* width: 80px;
    height: 60px;
    border: 2px solid hsla(0, 0%, 0%, 0.5); */
  }
  
  .grid-item--width2 { width: 20rem; }